/*
*********
HEADER
*********
*/

header {
  background-color: #E50914;
  color: #FFFFFF;
}

/*
*********
MAIN
*********
*/

body {
  background-color: #000000;
}

.card {
  background: linear-gradient(170deg, rgba(128,128,128,1) 0%, rgba(79,85,91,1) 100%);
  color: white;
}