/*
*********
HEADER
*********
*/

header {
  background-color: #E50914;
  color: #FFFFFF;
}

/*
*********
MAIN
*********
*/

body {
  background-color: #2F2D2E;
}

.card {
  background-color: #F0EFF4;
  color: #2A3439;
}